.function_wrapper_print{
    color:white;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    margin:15px 15px 0px 15px; 
}

.all_image{
    width:1160px;
    height: 800px;
}


.func_title{
    margin-top:0px;
    margin-bottom: 0px;
    margin-left:20px;
    color:white;
    -webkit-user-select: none;
    font-weight: bold;
}
