.map_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.map{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fragment {

    margin-left: 68px;
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.tooltip {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    padding-inline-start: 0em;
}

.top_level_nav {
    position: fixed;
    padding-left: 13px;
    width: 68px;
    left: 0;
    bottom: 0;
    z-index: 8;
    background: #001845;
    left: 0;
    top: 0;
}

.top_level_nav_wrapper {
    padding-top: 50px;
}
  

.menu_desk_outer_layer {
    overflow-y: auto;
    padding-left: 70px;
    padding-top: 70px;
    padding-right: 0px;
    position: fixed;
    width: 500px;
    left: 0;
    bottom: 0;
    z-index: 7;
    background: #023e7d;
    left: 0;
    top: 0;
}

.menu_desk_outer_layer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #FAFAFA;
  }
  //捲軸寬度
  .menu_desk_outer_layer::-webkit-scrollbar {
    width: 6px;
    background-color: black;
  }
  //捲軸本體顏色
  .menu_desk_outer_layer::-webkit-scrollbar-thumb {
    background-color: #061d47;
  }

.menu_desk_second_layer {
    margin-left : 130px;
    margin-top : 132px;
    padding-top: 0px;
    position: fixed;
    width: 370px;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: #023e7d;
    left: 0;
    top: 0;
}

.menu_desk_third_layer{
    margin-left : 260px;
    margin-top : 132px;
    padding-top: 0px;
    position: fixed;
    width: 240px;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: #7d025e;
    left: 0;
    top: 0;
}

.menu_btn_wrapper{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
}

.menu_btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}



.func_title{
    margin-top:0px;
    margin-bottom: 20px;
    margin-left:20px;
    color:white;
}

.ylcheckbox{
    color:white;
}

.ylcheckbox label{
    font-size: 20px;
}

.zhcheckbox{
    color:white;
}

.zhcheckbox label{
    font-size: 20px;
}


.satellitecheckbox{
    color:white;
}

.satellitecheckbox label{
    font-size: 20px;
}

.btn_list{
    width: 100%;
}

.tooltip{
    position: fixed;
    padding: 10px;
}

.map_tooltip{
    position: fixed;
    background-color: #001845AA;
}

.tooltip_title{
    background-color: #282c34AA;
    padding: 10px 10px 1px 10px;
}

.tooltip_title_t1{
    font-size: 18px;
    margin-bottom: 0px;
}


.tooltip_title_t2{
    font-size: 13px;
    margin-bottom: 10px;

}

.tooltip_content{
    font-size: 15px;
    padding: 10px 10px 0 10px;
}

.tooltip_content_2{
    max-height: 500px;
    overflow-y: auto;
    font-size: 15px;
    padding: 10px 10px 0 10px;
}


.loglat{
    margin-top: 2px;
    margin-bottom:2px;
    margin-left: 5px;
    margin-right: 5px;
    line-break: anywhere;
}

.loading{
    padding: 30px 20px 20px 10px;
}

.flex_column{
    display: flex;
    flex-direction: column;
}

.info_btn{
    margin-top:10px;
}

.search_bar{
    width: 100%;
}