.map_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.map{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fragment {

    margin-left: 68px;
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.tooltip {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    padding-inline-start: 0em;
}

.top_level_nav {
    position: fixed;
    width: 68px;
    left: 0;
    bottom: 0;
    z-index: 8;
    background: #001845;
    left: 0;
    top: 0;
}

.top_level_nav_wrapper {
    padding-top: 55px;
}
  

.menu_desk_outer_layer {
    overflow-y: auto;
    padding-left: 70px;
    padding-top: 15px;
    margin-top: 55px;
    padding-right: 0px;
    position: fixed;
    width: 500px;
    left: 0;
    bottom: 0;
    z-index: 7;
    background: #023e7d;
    left: 0;
    top: 0;
}

.menu_desk_outer_layer_2 {
    overflow-y: auto;
    padding-left: 70px;
    padding-top: 15px;
    margin-top: 55px;
    padding-right: 0px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 7;
    background: #023e7d;
    left: 0;
    top: 0;
}

.menu_desk_outer_layer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #FAFAFA;
  }
  //捲軸寬度
  .menu_desk_outer_layer::-webkit-scrollbar {
    width: 10px;
    background-color: black;
  }
  //捲軸本體顏色
  .menu_desk_outer_layer::-webkit-scrollbar-thumb {
    background-color: #061d47;
  }

.menu_desk_second_layer {
    margin-left : 130px;
    margin-top : 132px;
    padding-top: 0px;
    position: fixed;
    width: 370px;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: #023e7d;
    left: 0;
    top: 0;
}

.menu_desk_third_layer{
    margin-left : 260px;
    margin-top : 132px;
    padding-top: 0px;
    position: fixed;
    width: 240px;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: #7d025e;
    left: 0;
    top: 0;
}


.menu_btn{
    width: 100%;
    height: 40px;
    align-items: center;
    background-color: transparent;
}



.func_title{
    margin-top:0px;
    margin-bottom: 20px;
    margin-left:20px;
    color:white;
    -webkit-user-select: none;
}

.ylcheckbox{
    color:white;
}

.ylcheckbox label{
    font-size: 20px;
}

.zhcheckbox{
    color:white;
}

.zhcheckbox label{
    font-size: 20px;
}


.satellitecheckbox{
    color:white;
}

.satellitecheckbox label{
    font-size: 20px;
}

.btn_list{
    width: 100%;
}

.tooltip{
    position: fixed;
    padding: -10px 10px 10px 10px;
}

.map_tooltip{
    position: fixed;
    background-color: #001845AA;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tooltip_title_mouse{
    background-color: #282c34AA;
    padding: 10px 10px 1px 10px;
    min-height: 50px;
}

.tooltip_title{
    background-color: #282c34AA;
    padding: 10px 10px 1px 10px;
    min-height: 70px;
}

.tooltip_title_t1{
    font-size: 18px;
    margin-bottom: 0px;
}


.tooltip_title_t2{
    font-size: 13px;
    margin-bottom: 10px;

}

.tooltip_content{
    font-size: 15px;
    padding: 10px 10px 0 10px;
}

.tooltip_content_2{
    max-height: 350px;
    overflow-y: auto;
    font-size: 15px;
    padding: 10px 10px 0 10px;
}


.loglat{
    margin-top: 2px;
    margin-bottom:2px;
    margin-left: 5px;
    margin-right: 5px;
    line-break: anywhere;
}

.loading{
    padding: 30px 20px 20px 10px;
}

.flex_column{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info_div1{
    float: right;
}


.info_btn{
    margin-top:10px;
}

.search_bar{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search_btn{
    margin: 5px 10px 0 10px;
}

.search_result_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_div2{
    width: 100%;
    background-color: #545c69;
}

.circleAnalysis_search_result{
    display: flex;
    flex-direction: column;
    width: 100%;
    color:white;
}

.zoomIn_btn{
    position: fixed;
    top: 6.5rem;
    right:20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.circleAnalysis_top{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color:#FAFAFA;
}

.circle_analysis_btn{
    display: flex;
    flex-direction: column-reverse;
    margin-right: 20px;
    margin-bottom: 20px;
}

.search_tag{
    width: 100%;
    padding: 0 20px 10px 20px;
}

.all_print{
    color:white;
    padding: 0 20px 20px 20px;
}

.white_text{
    color:white
}

.chart_title{
    display: flex;
    flex-direction: row;
}

.chart_print{
}

.context_menu{
    position: fixed;
    background-color: #282c34AA;
}

.context_menu_item_container{
    padding: 10px;
    font-size: 14px;
}

.context_menu_item_container:hover{ 
    background-color: #023e7d;
    cursor: pointer;
}

.context_menu_item_text{
    margin-bottom: 0;
}

 
.circle_analysis_result_container{
    width:100%;
}

.circle_analysis_result_wrapper1{
    width:100%;
    padding:10px;
    background-color: #001845;
}
 
.circle_analysis_result_wrapper2{
    padding:10px;
    background-color: #001845;
}

.water_level_layout{
    float: left;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color:white;
}

.water_level_layout_left {
    float: left;
    width: 30%;
    overflow-y: auto;
    max-height: 82vh;
}

.water_level_layout_left_1 {
    border-radius: 5px;
    background-color:#282c34AA;
    padding: 20px 10px 10px 10px;
}

.water_level_layout_left_2 {
    margin-top: 10px;
    border-radius: 5px;
    background-color:#282c34AA;
    padding: 10px;
}

.water_level_layout_right {
    float: left;
    width: 68%;
    margin-left: 2%;
    overflow-x: scroll;
}

.water_level_layout_right_1 {
    border-radius: 5px;
    padding: 10px;
}

.water_level_graph{
    border-radius: 5px;
    background-color: white;
    color:black;
    width:200%;
}
.water_level_dropdown{
    padding: 0 20px 10px 20px;
}
