.map_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.map{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fragment {

    margin-left: 68px;
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.tooltip {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    padding-inline-start: 0em;
}

.top_level_nav {
    margin: 65px 10px 10px 10px;
    border-radius: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 20;
    background: #e2dfdfaa;
    left: 0;
    top: 0;
    overflow-y: auto;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.top_level_nav_wrapper {
    width: 58px;
    overflow-y: auto;
    top:0;
    position: sticky;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.menu_desk_outer_layer {
    padding-top: 15px;
    width: 430px;
    background: #3c3e41aa;
    min-height: 100vh;
}

.menu_desk_outer_second_layer {
    background: #3c3e41aa;
    min-height: 100vh;
}

.top_level_nav::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(241, 241, 241, 0.3);
    background-color: #8d9ecc;
}
  //捲軸寬度
.top_level_nav::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #e2dfdfaa;
}
  //捲軸本體顏色
.top_level_nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(161, 166, 173);
}

.menu_desk_outer_layer_2 {
    width: 1200px;
    padding-top: 15px;
    overflow-y: auto;
    background: #3c3e41aa;
    min-height: 100vh;

}

.menu_desk_second_layer {
    margin-left : 130px;
    margin-top : 132px;
    padding-top: 0px;
    position: fixed;
    width: 370px;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: #023e7d;
    left: 0;
    top: 0;
}

.menu_desk_third_layer{
    margin-left : 260px;
    margin-top : 132px;
    padding-top: 0px;
    position: fixed;
    width: 240px;
    left: 0;
    bottom: 0;
    z-index: 6;
    background: #7d025e;
    left: 0;
    top: 0;
}


.menu_btn{
    width:58px;
    padding:20px 10px 40px 10px;
    height: 50px;
    background-color: transparent;
    align-content: center;
    justify-content: center;
    align-self: center;
    display: flex;
}

.menu_btn_bottom{
    margin-top: auto;
}


.func_title{
    margin-top:0px;
    margin-left:20px;
    color:white;
    -webkit-user-select: none;
    font-weight: bold;
}

.ylcheckbox{
    color:white;
}

.ylcheckbox label{
    font-size: 20px;
}

.zhcheckbox{
    color:white;
}

.zhcheckbox label{
    font-size: 20px;
}


.satellitecheckbox{
    color:white;
}

.satellitecheckbox label{
    font-size: 20px;
}

.btn_list{
    width: 100%;
}

.tooltip{
    position: fixed;
    padding: -10px 10px 10px 10px;
}

.map_tooltip{
    width: 400px;
    position: fixed;
    background-color: #001845AA;
    margin-right: 10px;
    margin-bottom: 10px;
}

.map_tooltip2{
    width: 400px;
    height: 350px;
    position: fixed;
    background-color: #001845AA;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tooltip_title_mouse{
    background-color: #282c34AA;
    padding: 10px 10px 1px 10px;
    min-height: 50px;
}

.tooltip_title{
    background-color: #282c34AA;
    padding: 10px 10px 1px 10px;
    min-height: 70px;
}

.tooltip_title_t1{
    font-size: 18px;
    margin-bottom: 0px;
}


.tooltip_title_t2{
    font-size: 13px;
    margin-bottom: 10px;

}

.tooltip_content{
    font-size: 15px;
    padding: 10px 10px 0 10px;
}

.tooltip_content_2{
    max-height: 270px;
    overflow-y: auto;
    font-size: 15px;
    padding: 10px 10px 0 10px;
}


.loglat{
    margin-top: 2px;
    margin-bottom:2px;
    margin-left: 5px;
    margin-right: 5px;
    line-break: anywhere;
}

.loading{
    padding: 30px 20px 20px 10px;
}

.flex_column{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info_div1{
    float: right;
}


.info_btn{
    margin-top:10px;
}

.search_bar{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search_btn{
    margin: 5px 10px 0 10px;
}

.search_result_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_div2{
    width: 100%;
    background-color: #545c69;
}

.circleAnalysis_search_result{
    display: flex;
    flex-direction: column;
    width: 100%;
    color:white;
}

.zoomIn_btn{
    position: fixed;
    top: 6.5rem;
    right:20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.circle_analysis_tag_top{
    display: flex;
    flex-direction: column;
    color:#FAFAFA;
}

.circleAnalysis_top{
    display: flex;
    flex-direction: column;
    color:#FAFAFA;
}

.circle_analysis_btn{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 20px;
}

.function_wrapper{
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    margin:15px;
    background: #457ee7aa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.function_wrapper_circle_analysis{
    border-radius: 10px;
    padding: 15px 10px 0px 20px;
    margin:15px;
    background: #457ee7aa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.function_wrapper_print{
    color:white;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    margin:15px;
    background: #457ee7aa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.function_wrapper_measurement{
    color:white;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    margin:15px;
    background: #457ee7aa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.function_wrapper_upload{
    color:white;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    margin:15px;
    background: #457ee7aa;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: flex;
    flex-direction: row;
}

.function_wrapper_waterlevel{
    color:white;
    padding: 20px 5px 5px 5px;
    border-radius: 10px;
    background: #457ee7aa;
    margin:10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.backend_img_button{
    color: #457ee7aa;
}

.search_tag{
    display: flex;
    align-items: center;
  }

.search_tag_text{
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.white_text{
    color:white
}

.chart_title{
    display: flex;
    flex-direction: row;
}

.chart_print{
}

.context_menu{
    position: fixed;
    background-color: #282c34AA;
}

.context_menu_item_container{
    padding: 10px;
    font-size: 14px;
}

.context_menu_item_container:hover{ 
    background-color: #023e7d;
    cursor: pointer;
}

.context_menu_item_text{
    margin-bottom: 0;
}

 
.circle_analysis_result_container{
    width:100%;
}

.circle_analysis_result_wrapper1{
    width:100%;
    padding:10px;
    background-color: #001845;
}
 
.circle_analysis_result_wrapper2{
    padding:10px;
    background-color: #001845;
}

.circle_analysis_result_wrapper3{
    width:100%;
    padding:10px;
    background-color: #003e45;
}

.water_level_layout{
    float: left;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color:white;
}

.water_level_layout_left {
    float: left;
    width: 30%;
    overflow-y: auto;
    max-height: 82vh;
}

.water_level_layout_left_1 {
    border-radius: 5px;
    background-color:#282c34AA;
    padding: 20px 10px 10px 10px;
}

.water_level_layout_left_2 {
    margin-top: 10px;
    border-radius: 5px;
    background-color:#282c34AA;
    padding: 10px;
}

.water_level_layout_right {
    float: left;
    width: 68%;
    margin-left: 2%;
    overflow-x: auto;
}

.water_level_graph{
    padding-right: 20px;
    border-radius: 5px;
    background-color: white;
    color:black;
    width:fit-content;  
}
.water_level_dropdown{
    padding: 0 20px 10px 20px;
    
}
.water_level_font_question{
    margin-right:20px;
}
.ps_chart_container{
    margin-top: 10px;
    right:40px;
    z-index: 2;
    display: flex;
    flex-direction: row;
}
.ps_chart{
    right:40px;
    z-index: 2;
    max-height: 400px;
}
.ps_chart_right_container{
    margin-left:5px;
    margin-top:-418px;
}

.ps_chart_right_container_text1{
    color:black;
    font-size: 15px;
    
}

.ps_chart_right_container_text2{
    color:black;
    font-size: 15px;
    margin-top: 390px;
}


.wl_loading_container{
   margin: 0 auto;
   margin-top: 100px;
   width: 100px;
}

.loading_image{
    width:80px;
    height:80px;
    position: fixed;
    left: 50%;
    top: 45%;
}

.loading_image_2{
    margin-left: 5px;
    width:50px;
    height:50px;
}

.loading_image_3{
    margin-left: 5px;
    width:25px;
    height:25px;
}

.wl_left_1{
    margin-bottom: 10px;
    background-color: rgba(54, 65, 70, 0.164);
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
}
.wl_left_1_container{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.wl_left_1_container_div{
    align-self: center;
}

.wl_left_1_container_text{
     align-self: center;
     margin-left:10px;
     margin-right:10px;   
}

.circle {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.square_green {
    width: 60px;
    height: 5px;
    background-color: green;
}
.square_red {
    width: 60px;
    height: 5px;
    background-color: red;
}
.info_layout{
    padding-top: 20px;
    float: left;
    width: 68%;
    margin-left: 2%;
    overflow-x: auto;
}
.info_layout_left{
    padding-top:10px;
    float:left;
    width: 70px;
    overflow:auto;
}
.info_layout_right{
    float:left;
    width: 30%;
    overflow:auto;
}
.info_layout_top{
    height:30px;
}
.info_layout_bot{
    height:30px;
}

.button_layout{
    display: flex;
    flex-direction: row;
    color:blue;
}
  
.layerNameCheckBox {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:#FAFAFA;
}

.layerNameCheckBoxWrapper {
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    margin:15px;
    background: #457ee7aa;
}

.layerNameTextWrapper {
    background: #457ee7aa;
    height: 300px;
    overflow-y: auto;
}

.layerNameTextWrapper::-webkit-scrollbar {
    -webkit-box-shadow: inset 0 0 6px rgba(241, 241, 241, 0.3);
    background-color: #8d9ecc;
}
  //捲軸寬度
.layerNameTextWrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #e2dfdfaa;
}
  //捲軸本體顏色
.layerNameTextWrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(161, 166, 173);
}