.container{
  height: 100vh;
}

.formConatainer{
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}



.formLogin{
  margin : 0 auto;
  background:#FAFAFA;
  border-radius: 10px;
  max-width: 800px;
  margin:"20px";
  display: flex;
  height:450px;
}

.formLogin_left{
  overflow:hidden;
  width:300px;
  border-top-left-radius:10px;
  border-bottom-left-radius :10px;
}
.formLogin_right{
  padding:50px;
  width:500px;
}