DEBUG=True

DB_NAME=hydraweb
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306

CLIENT_BASE_URL=http://127.0.0.1:3000

EMAIL_HOST=mail.ntou.edu.tw
EMAIL_HOST_USER=00857211@mail.ntou.edu.tw
EMAIL_HOST_PASSWORD=123456789