DEBUG=True

DB_NAME=hydraweb
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306

CLIENT_BASE_URL=http://127.0.0.1:3000

EMAIL_HOST = smtp.sendgrid.net
EMAIL_PORT = 587
EMAIL_HOST_USER = apikey
EMAIL_HOST_PASSWORD = 123456

INFLUX_TOKEN = IGFIcuExdgqGPVxjtBDo2hUpoeh7r7FXGO-hMrSRd4U0EwB9A2F2Cp2yUf2NvIk2Ndm7UN4tYFvUMHvXkiwLQg==
INFLUX_ORG = hydraweb
INFLUX_URL = http://localhost:8086
INFLUX_BUCKET = full_data

MONGODB_DB = hydraweb
MONGODB_COL = ST_NO
MONGODB_USERNAME = recast203
MONGODB_USERPASSWORD = recast203