.item1{
  margin-left:10px;
  margin-right:10px;
  color:white;
}
.item2{
  margin-left:10px;
  margin-right:10px;
  color:white;
}

.loading_image{
  width:80px;
  height:80px;
  position: fixed;
  left: 58%;
  top: 48%;

}