.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fragment {
    margin-left: 68px;
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.tooltip {
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin-block-start: 0em;
    padding-inline-start: 0em;
}

li {
    margin-bottom: 30px;
}

.top-level-nav {
    position: fixed;
    padding: 10px;
    width: 68px;
    left: 0;
    bottom: 0;
    z-index: 8;
    background: #0f131a;
    left: 0;
    top: 0;
}

.top-level-nav-wrapper {
    padding-top: 80px;
}
  

.menu-desk {
    padding-left: 68px;
    padding-top: 60px;
    position: fixed;
    width: 430px;
    left: 0;
    bottom: 0;
    z-index: 7;
    background: #21313b;
    left: 0;
    top: 0;
}

.menu-btn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}

.func-title{
    margin-top:10px;
    margin-left:20px;
    color:white;
}