.content{
 margin-bottom: 100px;
} 

.title{
  margin-bottom: 20px;
  
} 

.tutorial_title{
  margin:20px 20px 20px 0;
  font-weight: bold;
  font-size: 22px;
}

.tutorial_img{
  max-width: 700px;
}


.container{
  max-width: 800px;
  color: white;
  margin: 0 auto;
  margin-top:50px;
}