.user_container
{
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  background: #001233;
  z-index: 10;
}

.link{
  color: white;

}

.editor{
  margin-bottom: 20px;
  min-height: 300px;
}